<footer>
    <div class="textoFooter">
        <h4 class="linkCompra">Si querés comprar nuestros productos hacelo <a href="https://algodonera.mercadoshops.com.ar">acá</a></h4>
        <p class="descripcionFooter">
        Tel: 1154548857<br>
        <i class="fa-regular fa-envelope"></i>  patriciarparadiso@gmail.com<br>
        Pedro Goyena 3812 Olivos Buenos Aires
        </p>
    </div>
</footer>