<footer>
    <div class="textoFooter">
        <p>Si querés comprar nuestros productos visitanos <a href="https://algodonera.mercadoshops.com.ar">acá</a></p>
        <p>
        Tel: 1154548857<br>
        <i class="fa-regular fa-envelope"></i>  patriciarparadiso@gmail.com<br>
        Pedro Goyena 3812 Olivos Buenos Aires
        </p>
    </div>
</footer>