<header>
    <div class="contenedorLogo">
        <a href="/"><img src="/archivos/02.png" class="logo"></a>
        <!-- <span class="textoLogo">Compañía algodonera</span> -->
    </div>
    <div class="textoHeader">
        <div class="contacto">
            <a href="/contacto">Contactanos</a> 
            <i class="fa-regular fa-envelope mail"></i>
        </div>
        <div class="iconos">
            <a href="https://www.instagram.com/companiaalgodonera/"><i class="fa-brands fa-instagram instagram"></i></a>
            <a href="https://www.facebook.com/companiaalgodonera"><i class="fa-brands fa-facebook facebook"></i></a>
            <i class="fa-brands fa-whatsapp whatsapp"></i>
            <!-- <i class="fa-brands fa-square-whatsapp whatsapp"></i> -->
        </div>
    </div>
</header>