<header>
    <a href="/admin/panel">Inicio panel</a>
    <a href="/">Inicio pagina</a>
    <h4>Compañía Algodonera</h4>
    <h5>Buscar</h5>
        <form action="/admin/resultado" method="GET">
            <input type="text" name="codigo" placeholder="Codigo">
            <button type="submit">Buscar</button>
        </form>
</header>