<header class="contenedorHeaderAdmin">
    <div class="contenedorLogoAdmin">
        <a href="/"><img src="/archivos/02.png" class="logoAdmin"></a>
        <a href="/admin/panel" class="textoLogo">Panel</a>
    </div>
        <form action="/admin/resultado" method="GET" class="textoHeaderAdmin">
            <input type="text" name="codigo" placeholder="Codigo" class="inputBuscador">
            <button type="submit"><i class="fa-solid fa-magnifying-glass botonBuscador"></i></button>
        </form>
</header>