<header>
    <div class="contenedorLogo">
        <a href="/"><img src="/archivos/02.png" class="logo"></a>
        <a href="/admin/panel">Panel inicio</a>
    </div>
        <form action="/admin/resultado" method="GET">
            <input type="text" name="codigo" placeholder="Codigo">
            <button type="submit">Buscar</button>
        </form>
</header>