<header>
    <a href="/"><img src="/archivos/logo.jpg" class="logo"></a>
    <div class="textoHeader">
        <h4>Compañía algodonera</h4>
        <div class="contacto">
            <h4><a href="/contacto">Contactanos</a> <i class="fa-regular fa-envelope mail"></i></h4>
            <div class="iconos">
                <a href="https://www.instagram.com/companiaalgodonera/"><i class="fa-brands fa-instagram instagram"></i></a>
                <a href="https://www.facebook.com/companiaalgodonera"><i class="fa-brands fa-facebook facebook"></i></a>
                <i class="fa-brands fa-whatsapp whatsapp"></i>
                <i class="fa-brands fa-square-whatsapp whatsapp"></i>
            </div>
        </div>
    </div>
</header>