*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Header */
header a{
    color: #fff;
}
header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5c5c;
    width: 100vw;
    padding: 2vw;
    color: #fff;
    z-index: 1;
}
.contenedorLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left:2%;
    
}
.textoLogo{
    color: #fff;
    font-size: 12px;
}
.textoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2vw;
}
.mail{
    font-size: 20px;
    color:#fff;
}
.whatsapp{
    font-size: 20px;
    color:green;
}
.facebook{
    font-size: 20px;
    color:blue;
}
.instagram{
    font-size: 20px;
    color:violet;
}

/* HOME */

/*1er seccion*/
.banner{
    padding-top: 40%;
    width: 100vw;
    background-image: url("/archivos/banner.jpeg");
}
.textoBanner{
    color: #fff;
    text-align: center;
    position: relative;
    top:-20vh;
    margin: 0% 20% 0% 20%;
    border:#fff solid 3px
}

 /*2da seccion */
.mainHome{
    width: 100vw;
    background-color: #eee;
    padding: 5vw;
    padding-top: 1%;
}
.mainSuperior{
    display: flex;
    justify-content: space-between;
}
.buscador{
    display: flex;
    flex-direction: column;
}
.selectFiltro{
    width:20vw;
}

/*3er seccion */

.imagenPrueba{
    width: 200px;
    height: 200px;
}
.seccionesInicio{
    text-align: center;
}
.destacados{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border:solid green 2px;
}
.productoDestacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:dashed red 1px;
}
.oferta{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border:solid green 2px;
}
.productoOferta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:dashed red 1px;
}
main{
    width: 100vw;
    background-color: #eee;
    padding: 20px;
    padding-top: 20%;
}

/*CONTACTANOS*/
.formularioContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}
.camposContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.inputsFormulario{
    width: 30vw;
}
.botonesContacto{
    padding-top: 10%;
    text-align: center;
}
.botonContacto{
    width:10vw
}

/* LISTADO PRODUCTOS */
.tituloCategoria{
    text-align: center;
}
.listadoProductos{
    display: flex;
    justify-content: space-between;
    border: solid 3px red;
}
.articuloListado{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 3px blue
}
.imagenArticulo{
    border: solid 3px green;
}
/* FOOTER*/

footer{
    width: 100vw;
    background-color: #000
}
.textoFooter{
    padding:10vw;
    color:#fff;  
}
footer a{
    color: red;
}