*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Header */
header a{
    color: #fff;
}
header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5c5c;
    width: 100vw;
    padding: 2vw;
    color: #fff;
    z-index: 1;
}
.contenedorLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left:2%;
    
}
.textoLogo{
    color: #fff;
    font-size: 12px;
}
.textoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2vw;
}
.mail{
    font-size: 20px;
    color:#fff;
}
.whatsapp{
    font-size: 20px;
    color:green;
}
.facebook{
    font-size: 20px;
    color:blue;
}
.instagram{
    font-size: 20px;
    color:violet;
}

/* HOME */

/*1er seccion*/
.banner{
    padding-top: 40%;
    width: 100vw;
    background-image: url("/archivos/cama10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.textoBanner{
    background-color: #5c5c5c;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
    position: relative;
    top:-20vh;
    margin: 0% 20% 0% 20%;
}

 /*2da seccion */
.mainHome{
    width: 100vw;
    background-color: #eee;
    padding: 5vw;
    padding-top: 1%;
}
.mainSuperior{
    display: flex;
    justify-content: space-between;
}
.buscador{
    display: flex;
    flex-direction: column;
}
.selectFiltro{
    width:20vw;
}

/*3er seccion */

.imagenPrueba{
    width: 200px;
    height: 200px;
}
.seccionesInicio{
    text-align: center;
}
.destacados{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border:solid green 2px;
}
.productoDestacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:dashed red 1px;
}
.oferta{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border:solid green 2px;
}
.productoOferta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:dashed red 1px;
}
main{
    width: 100vw;
    background-color: #eee;
    padding: 20px;
    padding-top: 20%;
}

/*CONTACTANOS*/
.formularioContacto{
    width: 100vw;
    background-image: url("../archivos/fundaedredonBoston.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
 }
 .formulario{
     background-color: #b65d21;
     box-shadow: 5px 5px rgb(63, 62, 62);
     opacity: 0.9;
     padding: 5%;
     border-radius: 20px;
 }
.camposContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.inputsFormulario{
    width: 30vw;
}
.botonesContacto{
    padding-top: 10%;
    text-align: center;
}
.botonContacto{
    width:10vw
}

/* LISTADO PRODUCTOS */
.tituloCategoria{
    text-align: center;
}
.listadoProductos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 3px red;
}
.articuloListado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    border:solid 3px blue;
}
.imagenArticulo{
    width: 100%;
    border: solid 3px green;
}


/*.verListado{
    color: #000;
    text-align: center;
    padding: 0.05% 0%;
    margin: 0% 30%;
    background-color: #5c5c5c;
    border-radius: 5px;
}*/
/* FOOTER*/

footer{
    width: 100vw;
    background-color: #000
}
.textoFooter{
    padding:10vw;
    color:#fff;  
}
footer a{
    color: red;
}

/* ---- ADMIN ------ */

.formularioLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}
.camposLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.inputsLogin{
    width: 20vw;
}
.botonesLogin{
    padding-top: 10%;
    text-align: center;
}
.botonLogin{
    width:7vw
}

/* --- PANEL --- */

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linksPanel{
    display: flex;
    flex-direction: column;
    padding: 5%;
    
}
.links{
    text-align: center;
    padding: 10px;
    color: #000;
    background-color: #f5826e;
    margin-bottom:  10px;
}

/* --- FORMULARIOS ADMIN --- */
.formularioProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #179c86;
    border-radius: 10px;
    margin: 0vw 25vw;
    padding-bottom: 2%;
}
.inputsProducto{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-top: 10px;
}
.botonesProducto{
    padding-top: 10%;
    text-align: center;
}
.botonProducto{
    width:10vw
}