*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Header */
header a{
    color: #fff;
}
header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c5c5c;
    width: 100vw;
    padding: 3vw;
    color: #fff;
    z-index: 1;
    font-size: 1rem;
}
.contenedorLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.contenedorLogoAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.logo{
    width: 3em;
    height: 3em;
    margin-left:2%;
}
.textoHeader{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 1rem;
}
.linkContacto{
    font-size: 0.85em;
}
.mail{
    font-size: 0.85em;
    color:#fff;
}
.whatsapp{
    font-size: 1.3em;
    color:green;
}
.facebook{
    font-size: 1.3em;
    color:blue;
}
.instagram{
    font-size: 1.3em;
    color:violet;
}
main{
    width: 100vw;
    background-color: #eee;
    padding: 20px;
    padding-top: 20%;
}
/* HOME */

/*1er seccion*/
.banner{
    padding-top: 40%;
    width: 100vw;
    background-image: url("/archivos/cama10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
}
.textoBanner{
    background-color: #5c5c5c;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
    position: relative;
    top:-7vh;
    margin: 0vh 5vw 0vh 5vw;
    font-size: 0.90em;
}
.tituloBanner{
    font-size: 1em;
}
 /*2da seccion */
.mainHome{
    width: 100vw;
    font-size: 1rem;
    background-color: #eee;
    padding: 5vw;
    padding-top: 1%;
}
.mainSuperior{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.linkProductos{
    font-size: 0.80em;
    color:#000;
}
.buscador{
    display: none;
}
.selectFiltro{
    width:30vw;
}

/*3er seccion */

.imagenPrueba{
    width: 200px;
    height: 200px;
}
/*.seccionesInicio{
    text-align: center;
    font-size: 1rem;
}*/

/*CONTACTANOS*/
.formularioContacto{
    width: 100vw;
    background-image: url("../archivos/cama2.jpg");
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
    padding-bottom: 10%;
 }
 .cuerpoFormularioContacto{
    background-color: #dc9f7c;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
    opacity: 0.9;
    padding: 5%;
    font-size: 1rem;
    border-radius: 0.8rem;
 }
 .tituloFormulario{
    text-align: center;
    font-size: 0.80em;
}
.camposContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.errorFormulario{
    color:red;
    font-size: 0.70em;
}
.inputsFormulario{
    font-size: 0.65em;
    width: 75%;
}
.botonesContacto{
    padding-top: 10%;
    text-align: center;
}
.botonContacto{
    font-size: 0.60em;
    width:37%
}

/* LISTADO PRODUCTOS */
.contenedorListado{
    padding-top: 25%;
    padding-bottom: 60%;
    font-size: 1rem;
}
.categorias{
    padding-bottom:5%;
    border-top: 1px solid #000 ;
}
.tituloCategoria{
    text-align: center;
    font-size: 0.80em;
}
.listadoProductos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3%;
}
.articuloListado{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    background-color: #fff;
    /*border:solid 3px black;*/
    transition: all 450ms;
}
.articuloListado:hover{
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
}
.tituloArticuloListado{
    font-size: 0.75em;
    color: #000;
    text-align: center;
}
.descripcionArticulo{
    display: none;
    font-size: 0.75em;
}
.articuloListado:hover .descripcionArticulo{
    display: block;
}
.imagenArticulo{
    max-width: 100%;
    height: 100%;
    overflow: hidden;

    /*border: solid 3px green;*/
}
.imagen{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER*/

footer{
    width: 100vw;
    background-color: #000;
    font-size: 1rem;
}
.textoFooter{
    padding:10vw;
    color:#fff;  
}
.linkCompra{
    font-size: 0.80em;
}
footer a{
    color: red;
}
.descripcionFooter{
    font-size: 0.75em;
}

/* ---- ADMIN ------ */

/* --- HEADER ADMIN --- */
.contenedorHeaderAdmin{
    font-size: 1rem;
}
.logoAdmin{
    width: 3em;
    height: 3em;
    margin-left:2%;
}
.textoLogo{
    font-size: 0.75em
}
.textoHeaderAdmin{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.inputBuscador{
    width: 90%;
    font-size: 0.75em;
}
.botonBuscador{
    font-size: 0.75em;
}

/* --- LOGIN --- */
.formularioLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 1rem;
}
.tituloLogin{
    font-size: 0.85em;
}
.errorLogin{
    font-size: 0.75em;
    text-align: center;
    color:red;
}
.camposLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.75em;  
}
.inputsLogin{
    width: 50vw;
}
.botonesLogin{
    padding-top: 20%;
    text-align: center;
}
.botonLogin{
    width:23vw;
    font-size: 0.75em;
    padding: 3%;
}

/* --- PANEL --- */

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35%;
    padding-bottom: 35%;
    font-size: 1rem;
}
.tituloPanel{
    font-size: 0.85em;
}
.linksPanel{
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #dc9f7c;
    border: #000 0.10em solid;
    font-size: 0.75em;
}
.links{
    text-align: center;
    padding: 10px;
    color: #000;
    margin-bottom:  10px;
    border-bottom: #000 0.10em dashed;
}

/* --- VISTAS CORTAS --- */

.contenedorVistaCorta{
    padding-top: 40%;
    padding-bottom: 80%;
    font-size: 1rem;
}
.tituloVistaCorta{
    font-size: 0.85em;
}
.textoVistaCorta{
    font-size: 0.75em;
    color:#000
}
.linksPosCreado{
    display: flex;
    flex-direction: column;
    padding-bottom:15%;
}
.linkPosCreado{
    color:#000;
    padding-top:5%
}

/* --- MENSAJES CLIENTES --- */
.contenedorMensajes{
    font-size: 1rem;
    padding-top: 35%;
    padding-bottom: 35%;
}
.tituloVistaMensaje{
    text-align: center;
    font-size: 0.85em;
}
.mensajes{
    font-size: 0.75em;
    color:#000;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: #000 0.1em dashed;
}
.mensaje{
    display: flex;
    justify-content: space-between;
}
.textoMensaje{
    color:#000;
}
.linkVolver{
    font-size: 0.75em;
    color:#000;
}

/* --- DETALLE MENSAJE --- */
.linkVolver{
    margin-top: 10%;
    padding-bottom: 10%;
}

/* --- LISTA PRODUCTOS --- */
.contenedorListaProductos{
    font-size: 1rem;
    padding-top: 35%;
}
.tituloListaProductos{
    font-size: 0.85em;
    text-align: center;
}
.linkProducto{
    font-size: 0.75em;
    border-bottom: #000 0.1em dashed;
}
/* --- DETALLE PRODUCTO --- */
.contenedorDetalleProducto{
    font-size: 1rem;
    padding-top: 30%;
}
.rellenoContenedorDetalle{
    padding-bottom: 35%;
}
.tituloDetalleProducto{
    font-size: 0.85em;
    text-align: center;
}
.detalleProducto{
    display: flex;
    justify-content: space-between;
}
.datosProducto{
    font-size: 0.75em;
    width: 50%;
}
.contenedorImagenProducto{
    margin-left: 1%;
    width: 50%;
    padding-top: 5%;
}
.imagenProducto{
    max-width: 100%;
}
.botonesDetalleProducto{
    display: flex;
}
.botonDetalleProducto{
    margin-right: 1%;
    font-size: 0.75em;
}
.botonLinkEditarProducto{
    color:#000;
}
/* --- FORMULARIOS ADMIN --- */
.formularioCrear{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
    padding-bottom: 10%;
 }
.formularioProducto{
    background-color: #179c86;
    font-size: 1rem;
    padding: 5%;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
    opacity: 0.9;
    
}
.tituloFormularioProducto{
    text-align: center;
    font-size: 0.80em;
}
.labelInput{
    font-size: 0.70em;
}
.inputsProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.inputsCrear{
    font-size: 0.65em;
    width: 75%;
}
.errorCrear{
    color:red;
    font-size: 0.70em;
}
.botonesCrear{
    padding-top: 10%;
    text-align: center;
}
.botonCrear{
    font-size: 0.60em;
    width:37%
}

@media only screen and (min-width:480px) {

    /* Header */
    .contenedorLogo{
        font-size: 1.2rem;
    }
    .textoHeader{
        font-size: 1.2rem;
    }

    /* FOOTER*/
    footer{
        font-size: 1.3rem;
    }

    /*CONTACTANOS*/
    .formularioContacto{
        padding-top: 32%;
    }
    .cuerpoFormularioContacto{
        font-size: 1.2rem;
    }

    /* HOME */

    /*1er seccion*/
    .banner{
        padding-top: 30%;
        font-size: 1.4rem;
    }
    .textoBanner{
        top:-2vh;
        margin: 0vh 5vw 0vh 5vw;
        font-size: 0.70em;
    }
    .tituloBanner{
        font-size: 1.3em;
    }
    /*2da seccion */
    .buscador{
        display: flex;
        flex-direction: column;
        font-size: 0.70em;
    }

    .mainHome{
        font-size: 1.2rem;
    }
    /*
    .buscador{
        font-size: 0.70em;
    }*/
    /*.selectFiltro{
        width:30vw;
    }*/

    /* --- LISTADO DE PRODUCTOS --- */
    .contenedorListado{
        padding-top: 22%;
        padding-bottom: 30%;
        font-size: 1.2rem;
    }


    /* ---- ADMIN ---- */

    /* --- HEADER ADMIN --- */
    .contenedorHeaderAdmin{
        font-size: 1.2rem;
    }
    .contenedorLogoAdmin{
        font-size: 1.2rem;
    }
    /* --- vistas cortas --- */

    .contenedorVistaCorta{
        padding-top: 25%;
        padding-bottom: 40%;
        font-size: 1.2rem;
    }
    .contenedorCreado{
        padding-top: 30%;
    }
    .linkPosCreado{
        padding-top:3%
    }
    /* --- LOGIN --- */
    .formularioLogin{
        padding-top: 25%;
        padding-bottom: 20%;
        font-size: 1.2rem;
    }
    .inputsLogin{
        max-width: 70%;
    }
    .botonesLogin{
        padding-top: 10%;
    }
    .botonLogin{
        max-width:33%;
        padding: 1%;
    }

    /* --- PANEL --- */

    .panel{
        padding-top: 30%;
        font-size: 1.2rem;
    }

    /* --- MENSAJES CLIENTES --- */
    .contenedorMensajes{
        font-size: 1.2rem;
        padding-top: 30%;
        padding-bottom: 10%;
    }

    /* --- LISTA PRODUCTOS --- */
    .contenedorListaProductos{
        padding-top: 30%;
        font-size: 1.2rem;
    }
    /* --- DETALLE PRODUCTO --- */
    .contenedorDetalleProducto{
        font-size: 1.2rem;
        padding-top: 25%;
    }
    .rellenoContenedorDetalle{
        padding-bottom: 20%;
    }
    .contenedorImagenProducto{
        padding-top: 3%;
    }

    /* --- FORMULARIO CREAR --- */
    .formularioCrear{
        padding-top: 32%;
    }
    .formularioProducto{
        font-size: 1.2rem;    
    }        
}

@media only screen and (min-width:768px){
    
    /* Header */
    .contenedorLogo{
        font-size: 1.3rem;
    }
    .textoHeader{
        font-size: 1.3rem;
    }

    /* FOOTER*/
    footer{
        font-size: 1.70rem;
    }
    .descripcionFooter{
        font-size: 0.55em;
    }

    /* --- HOME --- */
    /*2da seccion */
    .mainHome{
        font-size: 1.3rem;
    }

    /*CONTACTANOS*/
    .formularioContacto{
        padding-top: 28%;
    }
    .cuerpoFormularioContacto{
        font-size: 1.4rem;
    }

    /* --- LISTADO DE PRODUCTOS --- */
    .contenedorListado{
        padding-top: 18%;
        font-size: 1.3rem;
    }

    /* ---- ADMIN ---- */

    /* --- HEADER ADMIN --- */
    .contenedorHeaderAdmin{
        font-size: 1.3rem;
    }
    .contenedorLogoAdmin{
        font-size: 1.3rem;
    }
    /* --- VISTAS CORTAS --- */
    .contenedorVistaCorta{
        padding-top: 20%;
        padding-bottom: 20%;
        font-size: 1.3rem;
    }
    .contenedorCreado{
        padding-top: 25%;
    }
    .linkPosCreado{
        padding-top:2%
    }
    /* --- LOGIN --- */
    .formularioLogin{
        padding-top: 23%;
        font-size: 1.3rem
    }
    .inputsLogin{
        max-width: 50%;
    }
    .botonesLogin{
        padding-top: 5%;
    }
    .botonLogin{
        max-width:25%;
        padding: 1%;
    }

    /* --- PANEL --- */
    .panel{
        padding-top: 28%;
        font-size: 1.3rem;
    }

    /* --- MENSAJES CLIENTES --- */
    .contenedorMensajes{
        font-size: 1.3rem;
        padding-top: 25%;
    }

    /* --- LISTA PRODUCTOS --- */
    .contenedorListaProductos{
        padding-top: 28%;
        font-size: 1.3rem;
    }
    /* --- DETALLE PRODUCTO --- */
    .contenedorDetalleProducto{
        font-size: 1.3rem;
        padding-top: 20%;
    }
    .contenedorImagenProducto{
        padding-top: 1%;
    }

    /* --- FORMULARIO CREAR --- */
    .formularioCrear{
        padding-top: 28%;
    }
    .formularioProducto{
        font-size: 1.4rem;    
    }
}

@media only screen and (min-width:1280px){
    
    /* --- HEADER --- */
    /* --- CONTACTANOS --- */
    .formularioContacto{
        padding-top: 18%;
    }

    /* --- LISTADO DE PRODUCTOS --- */
    .contenedorListado{
        padding-top: 13%;
    }
    /* --- ADMIN --- */

    /* --- HEADER ADMIN --- */
    
    /* --- LOGIN --- */
    .formularioLogin{
        padding-top: 20%;
    }
    .inputsLogin{
        max-width: 30%;
    }
    .botonesLogin{
        padding-top: 5%;
    }
    .botonLogin{
        max-width:15%;
    }

    /* --- PANEL --- */
    
    /* --- VISTAS CORTAS --- */
    .contenedorVistaCorta{
        padding-top: 15%;
    }

    /* --- MENSAJES CLIENTES --- */
    .contenedorMensajes{
        font-size: 1.3rem;
        padding-top: 20%;
    }

    /* --- DETALLE PRODUCTO --- */
    .contenedorDetalleProducto{
        padding-top: 20%;
    }
    /* --- FORMULARIO CREAR --- */
    .formularioCrear{
        padding-top: 18%;
    }
}