<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>   
    <main class="contenedorVistaCorta">
        <h1 class="tituloVistaCorta"><%= persona.nombre %> gracias por contactarnos, pronto te estaremos contestando</h1>
        <div>
            <a href="productos" class="textoVistaCorta">Mirá todos nuestros productos <b>acá</b></a>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>