<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>   
    <main>
        <h2><%= persona.nombre %> gracias por contactarnos, pronto te estaremos contestando</h2>
        <div class="verListado">
            <h3><a href="productos">Mirá todos nuestros productos</a></h3>
        </div>
        </main>
    <%- include("../parciales/footer") %>
</body>
</html>