<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main class="contenedorVistaCorta">
        <h1 class="tituloVistaCorta">No hay productos que coincidan con esa búsqueda</h1>
        <a href="/" class="textoVistaCorta">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>