<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorCreado">
        <h1 class="tituloVistaCorta">Producto creado con éxito</h1>
        <div class="linksPosCreado">
            <a href="/admin/crear" class="linkPosCreado">Cargar nuevo producto</a>
            <a href="/admin/detalle/<%= productoEncontrado.codigo %>" class="linkPosCreado">Ver detalle del producto</a>
            <a href="/admin/panel" class="linkPosCreado">Volver al panel</a>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>