<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h1>Producto creado con éxito</h1>
        <a href="/admin/crear">Cargar nuevo producto</a>
        <a>Ver detalle del producto</a>
        <a href="/admin">Volver al panel</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>