<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorVistaCorta">
        <h3 class="tituloVistaCorta">Producto editado con éxito</h3>
        <a href="/admin/panel" class="textoVistaCorta">Volver al panel</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>