<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h2>Ingresa</h2>
        <form action="/admin" method="POST">
            <p style="color:red"><%= locals.error ? error:"" %></p>
            <p>Email</p>
            <input type="text" name="email">
            <p>Contraseña</p>
            <input type="password" name="contrasenia">
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
        </form>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>