<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main class="formularioLogin">
        <h1 class="tituloLogin">Ingresá</h1>
        <form action="/admin" method="POST" class="login">
            <p class="errorLogin"><%= locals.error ? error:"" %></p>
            <div class="camposLogin">
                <p>Email</p>
                <input type="text" name="email" class="inputsLogin">
            </div>
            <div class="camposLogin">
                <p>Contraseña</p>
                <input type="password" name="contrasenia" class="inputsLogin">
            </div>
            <div class="botonesLogin">
                <button type="submit" class="botonLogin">Enviar</button>
                <button type="reset" class="botonLogin">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>