<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorVistaCorta">
        <h1 class="tituloVistaCorta">Mensaje borrado con éxito</h1>
        <a href="/admin/mensajes" class="textoVistaCorta">Volver a los mensajes</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>