<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h1>Mensaje borrado con éxito</h1>
        <a href="/admin/mensajes">Volver a los mensajes</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>