<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorVistaCorta">
        <h1 class="tituloVistaCorta">El producto no existe en la base de datos</h1>
        <a href="/admin/panel" class="textoVistaCorta">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>