<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorVistaCorta">
        <p class="textoInexistente">El producto no existe en la base de datos</p>
        <a href="/admin/panel" class="textoInexistente">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>