<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <p>Producto no encontrado</p>
        <a href="/admin">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>