<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="panel">
        <h2>Menú</h2>
        <div class="linksPanel">
            <a href="/admin/productos" class="links">Ver listado de productos</a>
            <a href="/admin/mensajes" class="links">Mensajes de clientes</a>
            <a href="/admin/crear" class="links">Cargar producto</a>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>