<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h3>Los links de operaciones</h3>
        <a href="/admin/crear">Cargar producto</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>