<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorVistaCorta">
        <h1 class="tituloVistaCorta">Ya existe este producto en la base de datos</h1>
        <a href="/admin/crear" class="textoVistaCorta">Cargar producto</a>
    </main>
    <%- include("../parciales/footer") %>  
</body>
</html>